{% extends "bootstrap/base.html" %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

{% endblock %}

{% block title %}{% block page_name %}{% endblock %} - Filmfan{% endblock %}

{% block content %}
{{super()}}


<div id="content" class="container">

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">×</span></button>
            <strong>Melding:</strong> {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    {% block page %}{% endblock %}

</div>
{% endblock %}

{% block navbar %}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Filmsite</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li> -->
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('movies.list') }}">Films</a></li>
                <li><a href="{{ url_for('actors.list') }}">Acteurs</a></li>
                <li><a href="{{ url_for('directors.list') }}">Directeurs</a></li>
                <!-- <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">{{ current_user.user_name }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('logout') }}">Log uit</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('login') }}">Sign In</a></li>
                <li><a href="{{ url_for('register') }}">Create Account</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% endblock %}